@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive, sans-serif;
}
.main{background-color: #242424;
    width: 800px;
    height: 600px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.arena{
    width: auto;
    height: 376px;
    background: url("imgs/background/battlegrass.png") no-repeat;
    background-size: 800px;
    position: relative;
    border: black 2px solid;
}
.pikachu{
    width: 290px;
    height: 190px;
    position: absolute;
    bottom: 0px;
}
.squirtle{
    /*border: black 2px solid;*/
    width: 290px;
    height: 190px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.pikachu img{
    position: absolute;
    bottom: 0;
    right: 120px;
    width: 140px;
}
.squirtle img{
    position: absolute;
    bottom: 30px;
    right: 72px;
    width: 80px;
}
.myhpbar{
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 290px
}
.myhpbar img{
    width: 290px;
}
.pikachu_lv{
    position: absolute;
    right: 26px;
    top: 21px;
}
.enemy_hpbar{
    position: absolute;
    top: 20px;
    left: 0px;
    /*background-color: red;*/
    width: 240px
}
.squirtle_lv{
    position: absolute;
    right: 45px;
    top: 16px;
}
.enemy_hpbar img{
    width: 240px;
}
.menu{
    /*background-color: #6e5858;*/
    width: 100%;
    height: 170px;
    display: flex;
}
.feedback{
    /*background-color: pink;*/
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.move_options{
    /*background-color: antiquewhite;*/
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move_options .move_btns{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;


}
.move_btns .button{
    background-color: #F0420C;
    border-radius: 10px;
    border: solid 4px #FFDB20;
    width: auto;
    padding: 10px 10px;
    align-self: center;
    justify-self: center;
}

.button:hover{
    border: solid 4px #FF0B09;
    cursor: pointer;
}

.feedback_textbox,
.move_btns{
    color: white;
    -webkit-text-stroke: 0.6px black;
    padding: 10px;
    width: 95%;
    height: 87%;
    border-radius: 10px;
    background-color: #323232;
    border: white solid 2px;
}
#reset_btn{
    display: none;
}